/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Logo{
    border-radius: 100%;
    width: 5%;
    height: 5%;
}
#Links{
    display: flex;
    gap: 10%;
    margin-right: 5%;
}
#logodiv{
    display: flex;
    gap: 10%;
    margin-right: 5%;
}
a{
    color: black;
    text-decoration: none;
}
/* Body */
bodys{
    width: 100%;
    height: 100%;
}

    /* Imgs */
    #capa {
        width: 100%;
        display: flex;
        flex-direction: row;
        color: white;
        gap: 1%;
    }
    button{
        background-color: rgba(0, 0, 0, 0);
        border: solid white 2px;
        color: white;
    }
    #img25{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2%;
        column-gap: 2%;
        width: 100%;
    }
    .imgs{
        display: flex;
        background-size: cover;
        background-position: center;
        width: 100%;
    }
    #img1{
        background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5)),
        url('../imgs/Roupasarmario.jpg');
        padding: 10%;
    }
    #img2{
        background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5)),
        url('../imgs/roupasfemininas.jpg');
    }
    #img3{
        background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5)),
        url('../imgs/roupasmasculinas.jpeg');
    }