:root {
    --corprincipal: rgb(25, 24, 59);
    --corsecundaria: rgb(112, 137, 147);
    --corterceira: rgb(161, 194, 189);
    --corquarta: rgb(231, 242, 239);
    --texto: rgb(255, 255, 255);
    --caixas: rgb(112, 137, 147);
}

.archivo-black-regular {
  
  font-weight: 400;
  font-style: normal;
}


body{
    padding: 0;
    margin: 0;
    color: var(--texto);
    background-color: var(--corquarta);
}

header{
    text-align: center;
    font-family: "Delius", cursive;
    font-weight: bold;
    background-color: rgb(25, 24, 59);
    padding: 2%;
    font-size: 190%;
}

#Principal{
    margin: 5%;
    justify-items: center;
    align-items: center;
    color: black;
}