/* Definição */

:root {
    --corprincipal: rgba(46, 0, 105, 0.356);
    --corsecundaria: rgba(72, 12, 151, 0.507);
    --corquarta: rgb(255, 255, 255);
    --titulo: rgb(95, 23, 177);
}

.archivo-black-regular {
  
  font-weight: 400;
  font-style: normal;
}

/* Geral */

body{
    padding: 0;
    margin: 0;
    color: var(--titulo);
    background-image: url(./fundo.gif);
    background-size:cover;
    background-attachment: fixed;
    font-family: "Delius", cursive;
}

header{
    text-align: center;
    font-weight: bold;
    background-color: var(--corprincipal);
    padding: 2%;
    font-size: 190%;
}

#Principal{
    margin: 5%;
    gap: 5%;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    color: var(--corquarta);
}


/* Cada div de materia*/

p{
    font-size: 120%;
}

h3{
    z-index: -1;
    position: relative;
}

.materia{
    justify-items: center;
    align-items: center;
}

.conteudo{
    display: flex;
    flex-direction: column;
    background-color: var(--corsecundaria);
    padding: 2%;
    border-radius: 20px;
    justify-items: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: var(--corquarta);
}

.conteudo:hover{
    margin: -5%;
    width: 110%;
    height: 110%;
    background-color: var(--corquarta);
    transition: all 0.3s ease-in-out;
    color: var(--corsecundaria);
}

img{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
    margin-top: 5%;
    margin-bottom: 4%;
}

a{
    text-decoration: none;
    color: inherit;
}